/* BLOG */
body {
  overflow-x: hidden;
}

.bg-section {
  flex-basis: 60%;
}

/* nav {
  position: static;
} */

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
  z-index: 20; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#overlay-btn {
  display: none;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 600;
  position: fixed;
  width: 35px;
  height: 50px;
  top: 75%;
  right: 0vw;
  color: #c0c0c0;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url("/img/searchicon.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  z-index: 99;
  cursor: pointer;
}

#totop {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  position: fixed;
  width: 60px;
  height: 50px;
  top: 85%;
  right: 0vw;
  color: #c0c0c0;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url("/img/arrow-up.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  z-index: 99;
  cursor: pointer;
}

#totop:hover {
  filter: brightness(10%);
  transition: 0.3s;
}

#hide-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);

  color: #c0c0c0;
  font-family: "Roboto", sans-serif;
  border: 0;
  margin: 0;
  width: 60px;
  height: 200px;
  top: 40vh;
  right: 0vw;
  z-index: 99;
  cursor: pointer;
}

#hide-button:hover {
  filter: brightness(10%);
  transition: 0.3s;
}

/* INSIDE "section" */

.column-hide {
  transform: translateX(100%) scaleX(0);
  transform-origin: right;
  opacity: 0;
  transition: 0.3s;
}

.column-show {
  transform: translateX(0%) scaleX(1);
  opacity: 1;
  /* max-height: 1000px; */
  transition: 0.3s;
}

.topics-container {
  display: flex;
  flex-direction: column;

  /* align-items: flex-end; */
  /* justify-content: flex-start; */
  /* border-left: 1px solid #ffffff; */
  /* border-top-right-radius: 17px; */
  flex-basis: 100%;
  padding: 0px;
  margin-bottom: 3em;
  margin-left: 2em;
  background-color: rgba(0, 0, 0, 0.2);
}

.topic-list {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  width: 100%;
  list-style: none;
  font-size: 18px;
}

.topic-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3.8em;
  padding: 0em 0em 0.5em 1.5em;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.topic-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;

  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
  /* text-align: center; */
  color: #c0c0c0;
  border-bottom: 1px solid #7a7a7a;
}

.topic-title:hover {
  color: #ffffff;
  border-bottom: 1px solid #fff;
  transition: 0.4s ease;
}

#bgSearch {
  width: 100%;
  background-image: url("/img/searchicon.svg");
  background-color: #8383839f;
  background-repeat: no-repeat;
  background-position: 8px 4px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  color: #e2e2e2;
  padding: 5px 20px 5px 40px;
  /* border-radius: 0px 50px 50px 0px; */
  border: 1px solid transparent;
  /* border-left: 0px; */

  transition: width 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9c9c9c;
  opacity: 1; /* Firefox */
}

#bgSearch:hover {
  background-color: #949494c5;
  transition: 0.3s ease-in-out;
}

#bgSearch:focus {
  background-color: #b6b6b6e5;
  transition: 0.3s;
}

.move-list {
  position: sticky;
  position: -webkit-sticky;
  top: 70px;
  bottom: auto;
}

/* .post-column {
  padding-right: 1em;
} */

.post {
  /* background-color: rgba(0, 0, 0, 0.2); */
  padding: 3em;
  padding-top: 0;
  /* margin-right: 1em; */
  margin-bottom: 3em;
}

/* .post:hover {
  
  transition: 0.4s;
} */

.post a {
  text-decoration: none;
  font-weight: 600;
  color: skyblue;
  cursor: pointer;
  transition: 0.4s;
}

.post a:hover {
  color: darkorange;
  transition: 0.4s;
}

.post-title {
  position: relative;
  height: 400px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* background-image: url("/img/pic.jpg"); */
  background-size: cover;
}

.post-title .title {
  position: absolute;
  width: 100%;
  bottom: 0px;
  margin: 0;
  padding: 20px 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

.post-title .data {
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  height: 40px;
  top: 0px;
  right: 0px;
  margin: 0;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #a1a1a1;
}

.post h4 {
  align-self: end;
  justify-self: flex-start;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  margin: 0px;
  color: #a1a1a1;
}

.post h5 {
  font-size: 16px;
  text-align: right;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ff4136;
  padding-top: 10px;
}

/* Pagination links */
.pagination {
  margin: auto;
  margin-bottom: 1em;
}

.pagination a {
  color: #c0c0c0;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
  background-color: rgb(100, 100, 100);
}

@media screen and (max-width: 1080px) {
  #list-column {
    display: none;
  }

  .bg-section {
    flex-basis: 100%;
  }
  .post {
    padding: 1em;
  }

  #hide-button {
    display: none;
  }

  #totop {
    font-size: 12px;
    width: 35px;
  }

  #overlay-btn {
    display: flex;
  }
}

@media screen and (max-width: 1280px) {
  .topic-list-item {
    height: 5em;
    padding: 0em 0em 0.2em 0.2em;
  }
}
