.row {
  /* min-width: 85%; */
  width: 100%;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 15px;
}

.card img {
  object-fit: cover;
  height: 300px;
}

.card h3 {
  margin: 15px;
}

.card p {
  color: #c0c0c0;
}
