* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* SCROLLBAR *****************************************************/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
html,
body {
  font-family: "Roboto Condensed", sans-serif;

  height: 100%;
  background-attachment: fixed;
  background-image: url("/img/background.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ? NAVBAR ********************************************************/

nav {
  /* min-height: 40px; */
  height: 7vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;

  font-weight: lighter;
  font-size: 12px;

  background-color: #313131;

  box-shadow: 0px 0px 2px black;

  z-index: 5;
}

/* LOGO ******************************************************/

.shadow {
  -webkit-filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.7));
  /* Similar syntax to box-shadow */
}

.logo {
  max-height: 70px;
  min-height: 40px;

  /* width: 100%; */
  height: 100%;
  padding: 8px;
}

.logo:hover {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ! NAVIGATION-BAR MENU *********************************************/

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: stretch;
  /* height: 100%; */
  width: 57%;
  list-style: none;
}

nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  width: 100%;
}

nav li a {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  width: 100%;

  color: #c0c0c0;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  text-shadow: 0px 0px 8px #000;
  transition: letter-spacing 0.4s ease-out;
}

nav li a.active-gold {
  color: gold;
  letter-spacing: 0.3em;
}

nav li a.active-blue {
  color: skyblue;
  letter-spacing: 0.3em;
}

nav li a.active-red {
  color: #ff4136;
  letter-spacing: 0.3em;
}

nav li a.active-green {
  color: limegreen;
  letter-spacing: 0.3em;
}

nav li a:hover {
  color: white;
  letter-spacing: 0.3em;
  transition: 0.4s ease-in;
}

.m-menu {
  display: none;
  cursor: pointer;
}

.m-menu div {
  width: 20px;
  height: 2px;
  background-color: #c0c0c0;
  margin: 5px;
  box-shadow: 0px 1px 8px black;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .m-menu {
    display: block;
  }

  nav {
    justify-content: space-between;
    padding: 0px 20px;
    position: static;
  }

  nav ul {
    position: absolute;
    right: 0px;
    height: 50%;
    width: 50%;
    top: 40px;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform-origin: top right;
    transform: scale(0);
    transition: transform 0.4s ease-in-out;
  }
}

/* Mobile toggle **************************************************/

.m-menu-active {
  transform: scale(1);
  transform-origin: top right;
  transition: 0.4s ease-in-out;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 6px);
  transition: 0.3s;
}

.toggle .line2 {
  opacity: 0;
  transition: 0.2s;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -6px);
  transition: 0.3s;
}

/********************************************** MAIN *************************************************/

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 20px;

  /* overflow-y: auto; */
  background-color: rgba(0, 0, 0, 0.5);
  /* backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); */
  color: #c0c0c0;
  /* box-shadow: 0px 0px 2px #000; */
}

main.blog-bg {
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

section {
  display: block;

  height: 100%;

  flex-basis: 85%;
  /* text-shadow: 0px 0px 1px black; */
  /* width: 80%; */
}

div .text {
  padding: 1em;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

section img {
  height: 400px;
  width: auto;
  box-shadow: 0px 4px 10px 1px black;
  border-radius: 1%;
  margin: 30px;
}

section img.center {
  display: flex;
  justify-self: center;
  margin: 30px auto;
}

section img.right {
  float: right;
  margin: 30px 0px 30px 30px;
}

section img.left {
  float: left;
  margin: 30px 30px 30px 00px;
}

section p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-align: justify;
  margin-bottom: 2em;
}

.initial::first-letter {
  font-size: 1.5em;
  margin-left: 1em;
}

h1 {
  margin: 20px 0px 20px 0px;
  font-size: 28px;
}

h1::first-letter {
  color: slateblue;
  font-size: 1.5em;
}

h2 {
  margin: 20px 0px 20px 0px;
  font-size: 20px;
}

h3 {
  margin: 10px 0px 10px 0px;
  font-size: 16px;
}

.glow {
  font-weight: lighter;
  letter-spacing: 0.4em;
  text-shadow: 0px 0px 8px skyblue;
  text-transform: uppercase;
}

.glow2 {
  font-weight: lighter;
  letter-spacing: 0.2em;
  text-shadow: 0px 0px 8px skyblue;
  text-transform: uppercase;
}

.glow3 {
  font-weight: lighter;
  letter-spacing: 0.2em;
  text-shadow: 0px 0px 8px skyblue;
  text-transform: uppercase;
}

blockquote {
  margin-bottom: 2.2em;
  margin-top: 1.8em;
  margin-left: 4em;
  margin-right: 4em;
  font-style: italic;
  font-size: 1.5em;
  text-align: right;
}

@media screen and (max-width: 1080px) {
  section {
    flex-basis: 90%;
  }
}

@media screen and (max-width: 768px) {
  section {
    flex-basis: 100%;
  }

  section img,
  section img.center,
  section img.right,
  section img.left {
    display: block;
    margin: 20px auto;
    float: none;
    width: 90vw;
    height: auto;
  }
}

/** FOOTER ***********************************************/

footer {
  /* position: relative; */
  height: 30px;
  display: flex;
  /* width: 100%; */
  align-items: center;
  justify-content: center;
  margin-bottom: auto;

  padding: 10px;
  /* min-height: 25px; */
  background-color: #313131;
  box-shadow: 0px 0px 2px black;
  font-weight: 300;
  font-size: 14px;
  text-shadow: 0px 1px 8px #000;
  color: #c0c0c0;
  z-index: 1;
}

footer a {
  color: #cfcfcf;
  margin: 0px 2px;
  text-decoration: none;
  transition: 0.4s;
}

footer a:hover {
  color: #ffffff;
  transition: 0.4s;
}

/* PLACEHOLDER ********************************************/

.placeholder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.placeholder h1 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  letter-spacing: 0.5em;
  text-shadow: 0px 0px 8px skyblue;
  text-transform: uppercase;
}

.card {
  box-shadow: 0px 4px 10px 1px black;
  border-radius: 1%;
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color: whitesmoke;
}

.card p {
  margin: 30px auto 40px;
  text-align: center;
}

.card h1 {
  margin: 10px;
}

.card img {
  height: auto;
  width: 100%;
  border: none;
  margin: 0;
  box-shadow: 0px 2px 5px black;
}

.title {
  margin: 20px;
  color: grey;
  font-size: 18px;
}

button {
  margin-top: 20px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 2%;
}

.card a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.card button:hover,
.card a:hover {
  opacity: 0.7;
}

/**** Animations **************************************************/

.text-blur-out {
  -webkit-animation: text-blur-out 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    reverse both;
  animation: text-blur-out 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) reverse
    both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-5-19 13:40:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/*
 * ----------------------------------------
 * animation text-blur-out
 * ----------------------------------------
 */
@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}

/*
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
