* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* SCROLLBAR *****************************************************/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  /* height: 100%; */
}

.container {
  display: flex;
  flex-direction: column;

  /* background: #313131;  */

  /* background-image: linear-gradient(
    to bottom,
    #313131 5%,
    #262626 30%,
    #181818 95%
  ); */
  background: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #021b79,
    #0575e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #021b79 5%,
    #0575e6 93%
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* .container::before {
  background-image: url("/img/background3.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto;
  content: "";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  will-change: transform;
  z-index: -1;
} */

.content {
  flex: 1;
}

#more {
  display: none;
}

/* ? NAVBAR ********************************************************/

nav {
  /* min-height: 40px; */
  height: 6vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  min-height: 40px;

  font-weight: lighter;
  font-size: 14px;
  /* background-color: rgba(0, 0, 0, 0.288); */
  /* background-color: #313131; */
  background-color: #0576e6d3;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);

  /* box-shadow: 0px 0px 2px black; */

  z-index: 5;
}

nav h1 {
  display: flex;
  align-items: center;
  margin: 0;
  align-self: center;
  color: #c0c0c0;
  letter-spacing: 0.2em;
  min-height: 40px;
}

.nav-shadow {
  box-shadow: 0px 0px 2px rgb(24, 24, 24);
}

/* LOGO ******************************************************/

.shadow {
  -webkit-filter: drop-shadow(0px 0px 3px rgb(0, 0, 0));
  filter: drop-shadow(0px 0px 3px rgb(0, 0, 0));
  /* Similar syntax to box-shadow */
}

.logo {
  max-height: 60px;
  min-height: 40px;

  /* width: 100%; */
  height: 100%;
  padding: 4px;
  cursor: pointer;
}

.logo2 {
  color: dodgerblue;
  text-transform: lowercase;
  transition: 0.4s;
}

nav h1 {
  margin-left: 5vw;
}

nav h1 a {
  text-decoration: none;
  color: inherit;
  transition: 0.4s;
  text-shadow: 0px 0px 3px black;
}

nav h1 a:hover,
span.logo2:hover {
  color: #f1f1f1;
  transition: 0.4s;
}

.logo:hover {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ! NAVIGATION-BAR MENU *********************************************/

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: stretch;
  /* height: 100%; */
  width: 57%;
  list-style: none;
}

nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  width: 100%;
}

nav li a {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  width: 100%;
  font-weight: 500;
  color: #c0c0c0;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  text-shadow: 0px 0px 3px #000;
  transition: letter-spacing 0.4s ease-out;
}

nav li a.active-gold {
  color: gold;
  letter-spacing: 0.3em;
  font-weight: 600;
}

nav li a.active-blue {
  color: aqua;
  letter-spacing: 0.3em;
  font-weight: 600;
}

nav li a.active-red {
  color: #ff4136;
  letter-spacing: 0.3em;
  font-weight: 600;
}

nav li a.active-green {
  color: limegreen;
  letter-spacing: 0.3em;
  font-weight: 600;
}

nav li a:hover {
  color: white;
  letter-spacing: 0.3em;
  transition: 0.4s ease-in;
  font-weight: 600;
}

.m-menu {
  display: none;
  cursor: pointer;
}

.m-menu div {
  width: 20px;
  height: 2px;
  background-color: #c0c0c0;
  margin: 5px;
  /* box-shadow: 0px 1px 8px black; */
  transition: 0.3s;
}

/* Mobile toggle **************************************************/

.m-menu-active {
  transform: scale(1);
  transform-origin: top right;
  transition: 0.4s ease-in-out;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 6px);
  transition: 0.3s;
}

.toggle .line2 {
  opacity: 0;
  transition: 0.2s;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -6px);
  transition: 0.3s;
}

/********************************************** MAIN *************************************************/

main {
  display: flex;
  justify-content: center;
  /* align-items: stretch; */
  padding: 20px;
  min-height: 91vh;

  /* overflow-y: auto; */
  /* background-color: rgba(0, 0, 0, 0.5); */

  /* backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); */
  color: #dfdfdf;
  /* box-shadow: 0px 0px 2px #000; */
}

main.blog-bg {
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

section {
  /* display: block; */

  /* height: 100%; */
  padding-left: 2em;
  padding-right: 2em;

  flex-basis: 75%;
  /* text-shadow: 0px 0px 1px black; */
  /* width: 80%; */
}

.no-padding {
  padding: 0;
}

.text {
  padding-left: 10em !important;
  padding-right: 10em !important;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

section img {
  height: 400px;
  width: auto;
  max-width: 400px;

  box-shadow: 0px 0px 6px 0px black;
  border-radius: 0;
  margin: 2em;
}

section img.center {
  display: flex;
  justify-self: center;
  margin: 2em auto;
}

section img.right {
  float: right;
  margin: 2em 0em 2em 2em;
}

section img.left {
  float: left;
  margin: 2em 2em 2em 0em;
}

section p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
  text-align: justify;
  margin-top: 1em;
  margin-bottom: 1em;
  letter-spacing: 1px;
  line-height: 1.4em;
  text-indent: 1em;
}

/* section.background {
  background-color: rgba(0, 0, 0, 0.2);
  background-color: #313131b6;
} */

.initial::first-letter {
  font-size: 1.5em;
  margin-left: 1em;
}

h1 {
  margin: 3em 0px 40px 0px;
  font-size: 28px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  font-weight: normal;
}

h1::first-letter {
  color: dodgerblue;
  font-size: 1.5em;
}

h2 {
  margin: 20px 0px 20px 0px;
  letter-spacing: 0.3em;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: normal;
}

h3 {
  margin: 10px 0px 10px 0px;
  font-size: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: normal;
}

/* .glow {
  text-shadow: 0px 0px 8px skyblue;
}

.glow2 {
  text-shadow: 0px 0px 8px skyblue;
}

.glow3 {
  text-shadow: 0px 0px 8px skyblue;
} */

blockquote {
  margin-bottom: 2.2em;
  margin-top: 1.8em;
  margin-left: 4em;
  margin-right: 4em;
  font-style: italic;
  font-size: 1.3em;
  text-align: right;
  font-weight: lighter;
  color: #a1a1a1;
}

/** FOOTER *****************************************************************************************/

footer {
  height: 3vh;
  min-height: 30px;
  display: flex;
  /* width: 100%; */
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;

  padding: 10px;
  /* min-height: 25px; */
  background-color: #00000021;
  /* box-shadow: 0px 0px 2px black; */
  font-weight: 300;
  font-size: 14px;
  /* text-shadow: 0px 1px 8px #000; */
  color: #c0c0c0;
  z-index: 1;
}

footer a {
  color: #cfcfcf;
  margin: 0px 2px;
  text-decoration: none;
  transition: 0.4s;
}

footer a:hover {
  color: #ffffff;
  transition: 0.4s;
}

/* PLACEHOLDER **************************************************************************************/

.placeholder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.placeholder h1 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  letter-spacing: 0.5em;
  text-shadow: 0px 0px 8px skyblue;
  text-transform: uppercase;
}

/**** Animations **************************************************************************************/

/* .text-blur-out {
  -webkit-animation: text-blur-out 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    reverse both;
  animation: text-blur-out 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) reverse
    both;
} */

/* ----------------------------------------------
 * Generated by Animista on 2020-5-19 13:40:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/*
 * ----------------------------------------
 * animation text-blur-out
 * ----------------------------------------
 */
@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}

/*
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* MEDIA  ******************************************************************************************/

@media screen and (max-width: 1680px) {
  section {
    flex-basis: 85%;
  }
  .text {
    padding-left: 8em !important;
    padding-right: 8em !important;
  }
}

@media screen and (max-width: 1480px) {
  section {
    flex-basis: 85%;
  }
  .text {
    padding-left: 5em !important;
    padding-right: 5em !important;
  }
}

@media screen and (max-width: 1080px) {
  section {
    flex-basis: 95%;
  }

  section img,
  section img.center,
  section img.right,
  section img.left {
    display: block;
    margin: 20px auto;
    float: none;
    max-width: 350px;
  }

  .text {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

@media screen and (max-width: 768px) {
  main {
    padding: 0;
  }
  section {
    flex-basis: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  section img,
  section img.center,
  section img.right,
  section img.left {
    max-width: 330px;
    margin: 20px auto;
  }

  section p {
    font-size: 15px;
  }
}

@media screen and (max-width: 750px) {
  .m-menu {
    display: block;
  }

  nav {
    justify-content: space-between;
    padding: 0px 20px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-backdrop-filter: none;
    backdrop-filter: none;

    /* position: sticky; */
  }

  nav ul {
    position: fixed;
    right: 0px;
    height: 50%;
    width: 100%;
    top: 45px;
    background-color: inherit;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.4s ease-in-out;
  }

  nav li {
    height: 100%;
  }
}
